body{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 700px;
    margin: 0 auto;
    background-color: #87ceeb;
}
.sw_container{
    justify-content: center ;
    display: flex;
    width: 100%;
}
.time_view{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: #17a2b8;
    border-radius: 10px;
}
span{
    margin: 20px 0;
    font-size: 1.5em;
}
.btn{
    margin: 20px;
    padding: 3px;
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1.2em;
}
.btn:active{
    border: #000000 1px solid;
}
.btn-green{
    background-color: #28a745;
}
.btn-yel{
    background-color: #ffc107;
}
.btn-blue{
    background-color: #007bff;
}
.btn-red{
    background-color: #dc3545;
}
